header{

  text-align: right;
  h1 {
      display: inline-block;
      width: 90%;
      text-align:left;
  }

  button {
    display: inline-block;
    width: 10%;
  }


}

table {
  text-align: right;

  td.left {
    text-align: left;
  }

  td.center {
    text-align: center;
  }

}
